.wrRandomPlanet {
  display: flex;
  border-radius: 10px;
}

.wrImgRandomPlanet {
  margin-right: 1rem;
}

.wrImgRandomPlanet {
  min-width: 120px;
  width: 120px;
  height: 120px;
  border: 1px solid grey;
  border-radius: 10px;
}

.wrImgRandomPlanet img {
  min-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.wrInfoRandopPlanet {
  flex-grow: 1;
}

.list-group .list-group-item span:first-child {
  margin-right: .5rem;
}

.list-group .list-group-item {
  border-bottom: 1px solid grey;
}