@keyframes ldio-18kffs1uz9h {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}

.ldio-18kffs1uz9h div {
  position: absolute;
  animation: ldio-18kffs1uz9h 1s linear infinite;
  width: 90px;
  height: 90px;
  top: 30px;
  left: 30px;
  border-radius: 50%;
  box-shadow: 0 1.5px 0 0 #ffee58;
  transform-origin: 45px 45.75px;
}

.loadingio-spinner-eclipse-c9cw9bw7qig {
  width: 150px;
  height: 150px;
  margin:  0 auto;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-18kffs1uz9h {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-18kffs1uz9h div { 
  box-sizing: content-box;
}